<div>
	<audio id="spotify-preview" autoplay hidden src="{{trustSrc(songPlaying)}}"></audio>
	<div>
		<label>Number of tracks: {{topTrackList.length}}</label>
		<div ng-show="showSpotifyButton">
			<a class="btn btn-success" clip-copy="getTextToCopy()">Copy as Spotify playlist</a>
		</div>
		<br>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<tr>
				<th>No.</th>
				<th class="col-md-1">Artist</th>
				<th></th>
				<th>Track</th>
				<th>Avaliable</th>
				<th>Preview</th>
			</tr>
			<tr ng-repeat="track in topTrackList">
				<td>{{$index + 1}}</td>
				<td>
					<img ng-src="{{::track.smallImage}}" err-src="/img/fall_track.png" />
				</td>
				<td>{{::track.artistName}}</td>
				<td>{{::track.trackTitle}}</td>
				<td>
					<i class="fa fa-check-circle-o fa-2x text-success" ng-show="track.isAvaliable"></i>
					<i class="fa fa-times-circle-o fa-2x text-danger" ng-hide="track.isAvaliable"></i>
				</td>
				<td>
					<a ng-click="toggleSongPlaying(track.spotifyPreview)" ng-show="isPreviewAvaliable(track)">
						<i class="fa fa-play-circle-o fa-2x text-info" ng-hide="songPlaying === track.spotifyPreview"></i>
						<i class="fa fa-pause-circle-o fa-2x text-warning" ng-show="songPlaying === track.spotifyPreview"></i>
					</a>
					<span ng-hide="isPreviewAvaliable(track)">
						<i class="fa fa-times-circle-o fa-2x text-danger"></i>
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>