<div>
	<audio id="spotify-preview" autoplay hidden src="{{trustSrc(songPlaying)}}"></audio>
	<div>
		<p><label>Number of tracks: {{topTrackList.length}}</label></p>
		<p><label>Number of avaliable tracks: {{ (topTrackList | filter : {isAvaliable: 'true'}).length }}</label></p>
		<div>
			<button class="btn btn-success" clip-copy="getTextToCopy()">Copy as Spotify playlist</button>
		</div>
		<br>
	</div>
	<div>
		<table class="table table-striped">
			<tr>
				<th>No.</th>
				<th class="col-md-1">Artist</th>
				<th></th>
				<th>Track</th>
				<th>Avaliable</th>
				<th>Preview</th>
			</tr>
			<tr ng-repeat="track in topTrackList">
				<td>{{$index + 1}}</td>
				<td>
					<img ng-src="{{::track.smallImage}}" err-src="/img/fall_track.png" />
				</td>
				<td>{{::track.artistName}}</td>
				<td>{{::track.trackTitle}}</td>
				<td>
					<button class="btn btn-success btn-sm btn-copy-to-spotify-row" ng-show="track.isAvaliable" clip-copy="getTrackInfoToCopy(track)">
						Copy to Spotify <i class="fa fa-check"></i>
					</button>
					<button class="btn btn-danger btn-sm btn-copy-to-spotify-row" ng-hide="track.isAvaliable" disabled>
						Copy to Spotify <i class="fa fa-times"></i>
					</button>
				</td>
				<td>
					<span ng-show="isPreviewAvaliable(track)">
						<button class="btn btn-info btn-sm btn-play-preview" ng-click="toggleSongPlaying(track.spotifyPreview)"  ng-hide="songPlaying === track.spotifyPreview">
							Play <i class="fa fa-play fa-fw"></i>
						</button>
						<button class="btn btn-warning btn-sm btn-play-preview" ng-click="toggleSongPlaying(track.spotifyPreview)"  ng-show="songPlaying === track.spotifyPreview">
							Stop <i class="fa fa-pause fa-fw"></i>
						</button>
					</span>
					<span ng-hide="isPreviewAvaliable(track)">
						<button class="btn btn-danger btn-sm btn-play-preview disabled">
							Play <i class="fa fa-play fa-fw"></i>
						</button>
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>